<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">

    <title>TinyApp Registration</title>

  </head>

  <body style="font-size:20px; padding:50px;">

    <% include ./partials/_header %>

    <h3>Register with TinyURL</h3>
    <form class="form-inline" action="/register" method="POST">
      <div class="form-group mb-2">
        <label for="email">Enter your E-mail:</label>
        <input class="form-control" type="email" name="email" placeholder="email" style="width: 300px; margin: 1em">
        <label for="password">Enter your Password:</label>
        <input class="form-control" type="password" name="password" placeholder="password" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </body>
</html>